In [6]:
# 6. largest of three nums 

a = int(input("A:"))
b = int(input("B:"))
c = int(input("C:"))
if a>=b and a>=c:
    large = a
elif b>=a and b>=c:
    large = b
else:
    large = c
print("The largest numbers among {},{} and {} is {} ".format(a,b,c,large))

A: 3
B: 6
C: 13

The largest numbers among 3,6 and 13 is 13

In [8]:
# 7. (p*t*r/100) simple interest 7500

p=7500
t=float(input("Enter duration value:"))
r=float(input("Enter rate value:"))
si=(p*t*r)/100
Total_amount=si
print('the simple interest with principe',p,'for the duration',t,'with the interest rate',r,'is',si)

Enter duration value: 2
Enter rate value: 7

the simple interest with principe 7500 for the duration 2.0 with the interest rate 7.0 is 1050.0

In [13]:
# 5. Convert two list into dict

name = ["Rashi", "Soumya", "Anu"]
roll_no = [1, 4, 5]
 

print("Original name list is : "  +str(name))
print("Original roll_no list is : " + str(roll_no))
 

res = {}
for key in name:
    for value in roll_no:
        res[key] = value
        roll_no.remove(value)
        break
 
print("Resultant dictionary is : " + str(res))

Original name list is : ['Rashi', 'Soumya', 'Anu']
Original roll_no list is : [1, 4, 5]
Resultant dictionary is : {'Rashi': 1, 'Soumya': 4, 'Anu': 5}

In [10]:
#  4. lambda expr to sq a each num in list.

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Original list :")
print(num)


print("\nSquare every number of the list:")


square_nums = list(map(lambda x: x ** 2, num))
print(square_nums)

Original list :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square every number of the list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# 2.
class Employee:
    def __init__(self, name, position, salary):
        self.name = name
        self.position = position
        self.salary = salary

    def calculate_annual_salary(self):
        return self.salary * 12
    
empl1 = Employee("Soumya", "IP Coordinator", 40000)  
annual_salary = empl1.calculate_annual_salary()  
print(f"{empl1.name} earns an annual salary of Inr {annual_salary}")

Soumya earns an annual salary of Inr 480000