In [1]:
# Addition
a=2
b=4
sum=a+b
sum

6

In [2]:
# Square root
a=6
sq=6**2

In [3]:
sq

36

In [4]:
# Area of a triangle
b=5
h=7

In [5]:
area=0.5*b*h

In [6]:
area

17.5

In [7]:
# simple interest
p=20000
t=4
r=2

In [8]:
si=p*t*r/100

In [9]:
si

1600.0

In [12]:
# Compound Interest
p=20000
t=4
r=2
n=2
ci=p*(1+r/n)*n*t-p
ci

300000.0

In [13]:
b=float(input("Enter base vaue:"))
h=float(input("Enter height vaue:"))
area=0.5*b*h
print('the area of triangle with base',b,'and height',h,'is',area)

Enter base vaue:6
Enter height vaue:7
the area of triangle with base 6.0 and height 7.0 is 21.0

### Simple Interest

In [ ]:
# (p*t*r/100)

p=int(input("Enter principe value:"))
t=float(input("Enter duration value:"))
r=float(input("Enter rate value:"))
si=(p*t*r)/100
Total_amount=si
print('the simple interest with principe',p,'for the duration',t,'with the interest rate',r,'is',si)

In [ ]:
p=int(input("Enter principe value:"))
t=float(input("Enter duration value:"))
r=float(input("Enter rate value:"))
ci=p*(1+r/n)*n*t-p
print(ci)

In [19]:
# Reverse Data
str1='HELLO PYTHON'
str2 = ' Data is new fuel'
str2[-12:-17:-1]

' ataD'

In [20]:
str2[-6:-9:-1]

'wen'

In [25]:
str2=str1.replace('HE','HI')
str2

'HILLO PYTHON'

In [26]:
str2=str1.replace(' ','*')
str2

'HELLO*PYTHON'

In [28]:
str2=str1.replace(' ','*')
print(str2)

HELLO*PYTHON

In [1]:
s1= 'Data'
s2= 'Science'
s3=s1 +s2
s3

'DataScience'

In [2]:
s3=s1+" "+s2
s3

'Data Science'

In [3]:
s3=s1+" * "+s2
s3

'Data * Science'

In [4]:
# string membership
mystr1= "Hello Everyone"

In [5]:
'Hello' in mystr1

True

In [6]:
#task: find numbers in a string
str3=input("Enter string")
str3

Enter string

''

In [7]:
'123' in str3
str3

''

In [8]:
mystr3="my number is 123"
mystr3

'my number is 123'

In [9]:
'12' in mystr3

True

In [10]:
str4= "Natural language processing with Python and R and Java"
L=str4.partition("and")
L

('Natural language processing with Python ', 'and', ' R and Java')

In [11]:
#count
mystr3.count('y')

1

In [12]:
# strip
mystr3.strip('my')

' number is 123'

In [13]:
mystr3

'my number is 123'

In [14]:
mystr3.strip(' 123')

'my number is'

In [15]:
mystr5= 'Welcome to Python '

In [16]:
mystr5.rstrip(' ')

'Welcome to Python'

In [17]:
mystr5.upper()

'WELCOME TO PYTHON '

In [18]:
mystr5.lower()

'welcome to python '

In [19]:
mystr5.startswith("We")

True

In [20]:
mystr5.endswith("on ")

True

In [21]:
# split() returns to an output

print(mystr5.split())
 #List=mystr5.split()
#List

['Welcome', 'to', 'Python']

In [22]:
print(mystr5.split('Welcome'))

['', ' to Python ']

In [23]:
a=6
b=8
sum=a+b
print("The vaue of a and b is",a,b)

The vaue of a and b is 6 8

In [24]:
print("The sum of a is {} & b is {} this is my sum  {}".format(a,b,sum))

The sum of a is 6 & b is 8 this is my sum  14

In [25]:
Item1= 40
Item2= 55
Item3= 77
print('Cost of Item1, Item3 and Item2 are {},{} and {}'.format(Item1,Item3, Item2))

Cost of Item1, Item3 and Item2 are 40,77 and 55

In [26]:
a=4
b=5
c=3
print('The value of a is {} and the value of b is {} and value of c is {}'.format(4,5,3))

The value of a is 4 and the value of b is 5 and value of c is 3

In [1]:
mystr1 = 'Hello World'
mystr1.upper()

'HELLO WORLD'

In [2]:
Name = input("Enter your Name")
Education = input("Enter Education")
print('My name is',Name,'and i have completed',Education)

Enter your NameSoumya
Enter EducationBsc
My name is Soumya and i have completed Bsc

In [3]:
len(mystr1)

11

In [4]:
a= 'My name is soumya'
a= a.replace(' ','-')
print(a)

My-name-is-soumya